---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Alien on board! By Bando Studio. GDS Project 2024 Spring Semester.
      </p>
    </div>
  </section>
</footer>
